<div class='container'>
    <h5 class='p-2 mt-5 text-white'>Booking History</h5>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Booking Date</th>
          <th>User</th>
        <th>Movie</th>            
        <th>No of Seats</th>
        <th>Cost</th>
        <th>Total Price</th>
        <th>Show Date</th>
        <th>Status</th>
    </tr>
      </thead>
      <tbody>
        @for (x of data; track $index) {
          <tr>
              <td>{{x.bookDate}}</td>
              <td>
                {{x.user.userName}} <br>
                ({{x.user.email}})
              </td>
            <td>
              <img class='float-start me-2' 
              src="http://localhost:8080/{{x.show?.movie?.poster}}" 
              style="width:100px;height:100px" />
              {{x.show?.movie?.movieName}}<br/>
              ({{x.show?.movie?.year}})<br/>
              {{x.show?.movie?.actor}}<br/>
              {{x.show?.movie?.director}}
            </td>                
            <td>{{x.noOfSeats}}</td>
            <td>{{x.cost}}</td>
            <td>{{x.noOfSeats * x.cost}}</td>
            <td>
              {{x.showDate}}<br/>
              {{findslot(x.show?.slot)}}
            </td>
            <td>{{x.status}}</td>
          </tr>
              }
      </tbody>
    </table>
  </div>