<footer class="Footer stick-bottom  text-center text-white mx-auto" style="background: #5595f4;width:96%;">

    <div class="container-fluid p-1"  >

      <a class="btn btn-outline-light btn-floating m-2" href="https://www.facebook.com/login.php" type="button"
      ><i class="fa fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-2" href="https://twitter.com/login/" type="button"
      ><i class="fa fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-2" href="https://myaccount.google.com/" Type="button"
      ><i class="fa fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-2" href="https://www.instagram.com/_kussh" type="button"
      ><i class="fa fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-2" href="https://www.linkedin.com/uas/login" type="button"
      ><i class="fa fa-linkedin"></i
      ></a>


      <a class="btn btn-outline-light btn-floating m-2" href="https://github.com/login" type="button"
      ><i class="fa fa-github"></i
      ></a>


    </div>
    <div>
      <h2>Multiplex Movie Booking</h2>
      <p>Contact No: +9198xxxxxxxx    &ensp; &ensp; &ensp;    Gmail: multiplex.gmail.com</p>

    </div>


    <div class="text-center p-1" >
      © 2023 Copyright by Multiplex Booking Website
      
    </div>
<br />
  </footer>