<div class='container mt-5 text-white'>
    <h4 class="p-3 mt-5">User Profile {{data?.userName}}</h4>
    <table class='table table-bordered mt-4'>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>
            {{data?.userName}}
          </th>
        </tr>
        <tr>
          <th>User name</th>
          <th>{{data?.email}}</th>
        </tr>
        <tr>
          <th>Mobile</th>
          <th>{{data?.mobile}}</th>
        </tr>
        <tr>
          <th>Email Id</th>
          <th>{{data?.email}}</th>
        </tr>            
      </thead>
    </table>
  </div>